includes:
  - vendor/larastan/larastan/extension.neon

parameters:
  pro:
    dnsServers:
      - '8.8.8.8'
  paths:
    - src/
#  reportUnmatchedIgnoredErrors: false

  level: 9

  ignoreErrors:
    -
      message: '#Method NormanHuth\\HelloFreshScraper\\Http\\Client\:\:indexRequest\(\) has no return type specified\.#'
      path: src/Http/Concerns/IndexRequestsTrait.php
    -
      identifier: return.type
      paths:
        - src/Models/Concerns/HasPrimaryKeyTrait.php
#        - src/Models/AbstractModel.php
    -
      identifier: missingType.return
      path: src/Models/AbstractModel.php
    -
      identifier: missingType.generics
      path: src/Models/*
    -
      identifier: missingType.iterableValue
      paths:
        - src/Http/Client.php
        - src/Http/Paginator.php
